  .contain {
    width: 60%;
    background-color: whitesmoke;
    margin-left: 130px;

    /* height: 100vh; */
  }
  
  .input {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    margin: 110px auto;
  }
  
  .input input,
  .input select,
  .input textarea {
    padding: 5px 0 50px 10px;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
  }
  
  .state,
  .district {
    padding: 5px 0 50px 10px;
    font-size: 1rem;
    font-weight: bold;
    outline: none; 
  }
  
  .input textarea {
    height: 150px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .category {
    display: flex;
    justify-content: space-between;
  }
  
  .category p {
    font-size: 1.3rem;
    font-weight: bold;
    color: grey;
  }
  
  .category button {
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
  }
  
  .save-btn button {
    padding: 12px 60px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(16 60 141);
    border-radius: 8px;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    margin: 0 0 0 320px;
  }
  
  .cover-avatar {
    margin-bottom: 20px;
  }
  
  .avatar {
    margin-bottom: 30px;
  }
  
  /* .category_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .category_list p {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
  } */